<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Most Downloaded</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/downloads.css}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<nav id="nav" class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <a class="navbar-brand navText" href="/">Home</a>
            <a class="navbar-brand navText" href="/userinfo">User info</a>
            <a class="navbar-brand navText" href="/downloads">Most downloaded</a>
        </div>
        <ul class="nav navbar-nav navbar-right" style="text-decoration: none;">
            <li th:if="${#request.userPrincipal}"><a href="/logout"><span class="fa fa-sign-out"></span> Logout</a></li>
            <li th:unless="${#request.userPrincipal}"><a href="/register"><span class="fa fa-user"></span> Sign Up</a></li>
            <li th:unless="${#request.userPrincipal}"><a href="/login"><span class="fa fa-sign-in" style="margin-left: 10px;"></span> Login</a></li>
        </ul>
    </div>
</nav>
<div class="container">s
    <div class="descript">Top 10 downloaded files</div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="filename">File name</th>
            <th class="downloads">Downloads</th>
        </tr>
        </thead>
        <tbody class="file-list">
        </tbody>
    </table>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script th:src="@{/js/downloads.js}"></script>
</body>
</html>